html {
  --bg: #FCFCFC;
  --bg-text: #EBEBEB;
  --color-headings: #0077FF;
  --color-text: #333333;
  --color-text-link: royalblue;
}
html[data-theme=dark] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-headings: #3694FF;
  --color-text: #B5B5B5;
  --color-text-link: #FCFCFC;
}
html body {
  padding: 0;
  margin: 0;
  height: 10000px;
  background-color: var(--bg);
}
html body nav {
  background-color: blue;
  color: white;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  display: flex;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 2px 3px 5px grey;
}
html body nav .nav1 {
  display: flex;
}
html body nav .nav1 img {
  width: 10%;
  -o-object-fit: contain;
     object-fit: contain;
}
html body nav .nav1 h1 {
  margin-left: 4%;
  margin-top: 1.7rem;
}
html body nav .nav2 {
  display: flex;
  margin-right: 10%;
}
html body nav .nav2 a {
  display: block;
  color: white;
  text-align: center;
  transition: 0.5s;
  padding: 23px 20px;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  text-decoration: none;
}
html body nav .nav2 a:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}
html body .box {
  background-color: chocolate;
  margin-right: 92.6%;
  position: -webkit-sticky;
  position: sticky;
  font-family: Arial, Helvetica, sans-serif;
  top: 10%;
  z-index: 100;
  width: 6.8%;
  box-shadow: 10px 0 5px -2px #888;
  height: 35vh;
  /* Dark-Ligh Mode */
}
html body .box a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 20px 10px;
}
html body .box a:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  margin-left: 10%;
  margin-right: 10%;
}
html body .box .toggle-container {
  margin-right: 10%;
}
html body .box .toggle-container input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
html body .box .toggle-container input[type=checkbox]:checked + label {
  background: var(--color-headings);
}
html body .box .toggle-container input[type=checkbox]:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
html body .box .toggle-container label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}
html body .box .toggle-container label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
html body .box .toggle-container label:active::after {
  width: 45px;
}
html body .side {
  position: -webkit-sticky;
  position: sticky;
  top: 20%;
  margin-left: 80%;
  margin-bottom: 50%;
}
html body .side p {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-text);
  font-weight: bold;
}
html body .side a {
  display: block;
  text-decoration: none;
  color: var(--color-text-link);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 4%;
  cursor: pointer;
}
html body .content {
  position: absolute;
  top: 11%;
  left: 8%;
  font-family: "Roboto Mono", monospace;
  margin-right: 30%;
  margin-left: 1%;
}
html body .content h1,
html body .content p {
  color: var(--color-text);
}
html .transition,
html .transition *,
html .transition *::before,
html .transition *::after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}/*# sourceMappingURL=style.css.map */